@import url("https://fonts.googleapis.com/css?family=Roboto");


.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 10;
  margin: 35px 25px;
  text-align: center;

}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .floating-button {
  position: absolute;
  display: flex;
  width: 110px;
  height: 60px;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 8%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.imgd{
  align-self: center;
    height: 30px;
    color: white;
    padding: 0;
}